<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="gst-root" title="GST" icon="fa-bullhorn" icon-background="#f47d2e"
    order="-64" if="__config__.app.isApp('gst')"/>


  <!-- Party Menu -->
  <menuitem name="gst-party-root" title="Party" parent="gst-root" icon="fa-book" order="-6"/>

  <menuitem name="gst-root-partner" parent="gst-party-root" title="Partner"
    action="action.gst.view.partner" order="-10"/>
  <action-view name="action.gst.view.partner" title="Partner"
    model="com.axelor.apps.base.db.Partner">
    <view type="grid" name="partner-grid"/>
    <view type="form" name="partner-form"/>
  </action-view>

  <menuitem title="Configuration" name="party-config" order="-5" parent="gst-party-root"
    icon="fa-cog"/>

  <menuitem name="gst-root-address" parent="party-config" title="Address"
    action="action.gst.view.address" order="-20"/>
  <action-view name="action.gst.view.address" title="Address"
    model="com.axelor.apps.base.db.Address">
    <view type="grid" name="address-grid"/>
    <view type="form" name="address-form"/>
  </action-view>

  <menuitem name="gst-root-state" parent="party-config" title="State"
    action="action.gst.view.state" order="-10"/>
  <action-view name="action.gst.view.state" title="State"
    model="com.axelor.apps.gst.db.State">
    <view type="grid" name="state-grid"/>
    <view type="form" name="state-form"/>
  </action-view>


  <!-- Product Menu -->

  <menuitem title="Product" name="product-config" order="-4" parent="gst-root"
    icon="fa-cc-discover"/>

  <menuitem name="gst-root-product" parent="product-config" title="Product"
    action="action.gst.view.product" order="-20"/>
  <action-view name="action.gst.view.product" title="Product"
    model="com.axelor.apps.base.db.Product">
    <view type="grid" name="product-grid"/>
    <view type="form" name="product-form"/>
  </action-view>

  <menuitem name="gst-root-product-category" parent="product-config"
    title="Product Category" action="action.gst.view.product.category" order="-10"/>
  <action-view name="action.gst.view.product.category" title="Product Category"
    model="com.axelor.apps.base.db.ProductCategory">
    <view type="grid" name="product-category-grid"/>
    <view type="form" name="product-category-form"/>
  </action-view>



  <!-- Invoice Menu -->

  <menuitem title="Invoice" name="invoice-config" order="-3" parent="gst-root"
    icon="fa-desktop"/>


  <menuitem name="gst-root-invoice-ventilated" parent="invoice-config" title=" Invoice"
    action="action.gst.view.invoice.ventilated" order="-20"/>
  <action-view name="action.gst.view.invoice.ventilated" title="Invoice"
    model="com.axelor.apps.account.db.Invoice">
    <view type="grid" name="invoice-grid"/>
    <view type="form" name="invoice-form"/>
    <view-param name="search-filters" value="customer-invoices-filters"/>
    <domain>self.operationTypeSelect = 3</domain>
    <context name="_operationTypeSelect" expr="eval:3"/>
    <context name="todayDate" expr="eval:__config__.date"/>
  </action-view>

  <!--COmpany Menu -->
  <menuitem name="gst-party-config" title="Company" parent="gst-root" icon="fa-book"
    order="-2"/>

  <menuitem name="gst-root-company" parent="gst-party-config" title="Company"
    action="action.gst.view.company" order="-20"/>
  <action-view name="action.gst.view.company" title="Company"
    model="com.axelor.apps.base.db.Company">
    <view type="grid" name="company-grid"/>
    <view type="form" name="company-form"/>
  </action-view>

  <menuitem name="gst-root-bank" parent="gst-party-config" title="Bank"
    action="action.gst.view.bank" order="-10"/>
  <action-view name="action.gst.view.bank" title="Bank"
    model="com.axelor.apps.base.db.Bank">
    <view type="grid" name="bank-grid"/>
    <view type="form" name="bank-form"/>
  </action-view>

  <!-- Dashboard -->

  <menuitem title="Dashboard" name="dashboard-root" order="-2" parent="gst-root"
    icon="fa-bar-chart"/>
  <menuitem name="dashboard-report" title="Invoices" parent="dashboard-root"
    action="action.gst.root.dashboard"/>
  <action-view name="action.gst.root.dashboard" title="DashBoard">
    <view type="dashboard" name="gst.dashboard"/>
  </action-view>

  <!-- For hide crm app -->
  <menuitem id="gst-crm-root" name="crm-root" title="CRM" order="-108"
    if="__config__.app.isApp('crm')" icon="fa-user" icon-background="#2fa042" hidden="true"/>

  <!-- For hide account app -->
  <menuitem name="account-root" title="Accounting" order="-90"
    if="__config__.app.isApp('account')" icon="fa-calculator" icon-background="#2fa042"
    id="gst-account-root" hidden="true"/>

  <!-- For hide sales app -> mass cust Stock move -->
  <menuitem name="stock-multi-sale-invoicing" parent="sc-root-sale" order="26"
    if="__config__.app.isApp('supplychain')" title="Mass Cust. Stock Move Invoicing"
    action="stock.root.multi.sale.invoicing" hidden="true" id="gst-stock-multi-sale-invoicing"/>

  <!-- for hide sales abc-analysis -->
  <menuitem name="sc-root-abc-analysis" title="ABC analysis" order="27"
    action="sale.root.abc.analysis" parent="sc-root-sale" id="gst-sc-root-abc-analysis"
    hidden="true"/>

  <!-- for hide calendar -->
  <menuitem id="gst-calendar.root.menu"
    if="__config__.app.isApp('base') &amp;&amp; __config__.app.getApp('base')?.getEnableCalendars()"
    name="menu-calendar" order="-110" title="Calendar" icon="fa-calendar" icon-background="#34d0f7"
    hidden="true"/>

  <!-- for document hide -->
  <menuitem id="gst-abs-menu-dms" name="menu-dms"
    if="__config__.app.isApp('base') &amp;&amp; __config__.app.getApp('base')?.getDocument()"
    hidden="true" order="-109" title="Documents" icon="fa-archive" icon-background="#3f6bb9"/>

  <!-- for Teamwork hide -->
  <menuitem id="gst-abs-menu-team" name="menu-team"
    if="__config__.app.isApp('base') &amp;&amp; __config__.app.getApp('base')?.getTeamManagement()"
    hidden="true" order="-110" title="Teamwork" icon="fa-user" icon-background="blue"/>

  <!-- for report-sales -->
  <menuitem name="menu-saleman-dashboard-sample" parent="sc-root-sale-report" order="-205"
    title="Salesperson" action="saleman.dashboard.view.sample"
    id="gst-menu-saleman-dashboard-sample" hidden="true"/>
  <!-- for report-sales -->
  <menuitem name="menu-dashboards-customers" parent="sc-root-sale-report"
    title="Customers / prospects" action="sale.customer.list.dashboard.view"
    id="gst-menu-dashboards-customers" hidden="true"/>

  <!-- for purchase = Mass Suppl. Stock Move Invoicing -->
  <menuitem name="stock-multi-purchase-invoicing" parent="sc-root-purchase" order="26"
    title="Mass Suppl. Stock Move Invoicing" action="stock.root.multi.purchase.invoicing"
    id="gst-stock-multi-purchase-invoicing" hidden="true"/>

  <!-- for purchase = Mass Suppl. Stock Move Invoicing -->
  <menuitem name="purchase-root-abc-analysis" title="ABC analysis" order="27"
    action="purchase.root.abc.analysis" parent="sc-root-purchase"
    id="gst-purchase-root-abc-analysis" hidden="true"/>

  <!-- for cash management -->
  <menuitem name="forecast-root" title="Cash management" order="-86"
    if="__config__.app.isApp('cash-management')" icon="fa-money" icon-background="#e0a83c"
    id="gst-forecast-root" hidden="true"/>

  <menuitem name="stock-root-abc-analysis" title="ABC analysis" order="27"
    action="stock.root.abc.analysis" parent="stock-root" id="gst-stock-root-abc-analysis"
    hidden="true"/>

  <menuitem title="Logistical forms" name="stock-root-logistical-forms" parent="stock-root"
    action="stock.root.logistical.forms" order="39" id="gst-stock-root-logistical-forms"
    hidden="true"/>

  <menuitem id="gst-stock-root-stock-location-tree" name="stock-root-stock-location-tree"
    parent="stock-root" title="Stock Location Tree" action="stock.root.stock.location.tree"
    order="42" hidden="true"/>

  <menuitem name="stock-mrp" parent="stock-root" title="MRP"
    if="__config__.app.isApp('supplychain')" order="40" id="gst-stock-mrp" hidden="true"/>
    
      <menuitem name="invoice-root-invoice-terms" parent="invoice-root" order="21"
    title="Terms list" action="invoice.root.invoice.terms" hidden="true" id="gst-invoice-root-invoice-terms"/>
    
     <menuitem name="invoice-root-subscription-invoice" parent="invoice-root"
    title="Subscription invoices to validate" action="invoice.root.subscription.invoice" order="22" hidden="true" id="gst-invoice-root-subscription-invoice"/>

	<menuitem name="menu-account-invoice-advanced" parent="invoice-root-report"
    title="Advanced" hidden="true" id="gst-menu-account-invoice-advanced"/>
</object-views>
